.container {
    display: flex;
    height: fit-content;

    div {
        border-bottom: 2px solid var(--teal);
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        gap: 0.25rem;
        position: relative;

        select {
            max-width: 15;
            font-size: 1rem;
            min-width: 8rem;
            border: none;
            color: var(--blue-primary);
            background-color: transparent;
            cursor: pointer;

            /* Safari specific rules */
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none;
        }

        img {
            pointer-events: none;
            position: absolute;
            right: 0;
        }
    }
}
