.container {
    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        position: relative;

        select {
            max-width: min-content;
            padding-right: 1rem;
            font-size: 1rem;
            width: min-content;
            border: none;
            color: var(--blue-primary);
            background-color: transparent;
            cursor: pointer;

            /* Safari specific rules */
            border-radius: 0;
            appearance: none;
            -webkit-appearance: none;
        }

        img {
            pointer-events: none;
        }
    }
}

.icon {
    position: absolute;
    right: 0;
}