.container {
    margin: 5rem auto 0 auto;
    max-width: 38.38rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.header {
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    margin: 0;
}

.link {
    text-decoration: underline;
}