.section {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.section h4 {
    margin: 0;
}

.section div {
    text-align: left;
    flex: 1;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section svg {
    margin: 0 2rem 0 1rem;
}


.priceAreaSection {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.priceAreaSection svg {
    margin: 0 2rem 0 1rem;
}

.priceAreaSection div {
    flex: 1;
}

@media only screen and (max-width: 1200px) {
    .section {
        border: none;
    }
}
